<nav>
    <ul>
    </ul>
</nav>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="button" data-toggle="collapse" data-target="navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" class="navbar-brand">
                <img src="{{ url_for('static', filename = 'img/papus.jpg') }}" alt="Yo y los papus" style="max-width: 48px;">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Ir a inicio</a></li>
                <li><a href="https://platzi.com">Ir a platzi</a></li>
            </ul>
        </div>
    </div>

</div>



<!-- para poder usar archivos estaticos, ya sea archivos css o imagense tendremos 
que usar el metodo url_for(), en el cual le indicamos que se usaran archivos staticos y
le pasamos donde tenemos el archivo que queremos usar
como en los templates, tenemos una carpteta por defecto que es static donde podemos almacenar
todos los archivos.
-->

